.Login
{
    background-image: url("file:///D:/wallpaper/peakpx%20(16).jpg");
    background-repeat: no-repeat;
    background-size: cover ;
}
#form{
    opacity: 0.9999999;
    margin: auto;
    margin-top: 150px;
    border-radius: 25px;
    background: blanchedalmond;
    padding: 20px;
    width: 200px;
    height: 300px;
    align-content: center;
    align-items: center;
}
header{
    text-align: center;
}
/* body{

} */